.none{
    list-style-type: none;
    padding-left: 50px;
}
ul{
    list-style-type: none;
    
}
.square::before{
    content: "\0025A0";
    color: #17ABB3;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
}
.item-2{
    background-color: rgba(227, 227, 227, 0.5);
    width: 350px;
}
.right1{
margin-left: 2.5rem;
font-weight:normal ;

}
.right2{
   margin-left: 5.6rem; 
   font-weight:normal ;
}
.right3{
   margin-left: 8.7rem; 
   font-weight:normal ;
}
.bold{
    font-weight: 600;
    margin-bottom: 1rem;
}
.hr-left{
    width: 240px;
}
.fa.fa-star{
    color: #17ABB3;
    font-size: 13px;

}
.star-1{
margin-left: 9.4rem;
}
.star-2{
    margin-left: 10.3rem;   
}
.star-3{
    margin-left: 7.9rem;   
}
.star-4{
    margin-left: 7.1rem;    
}