/*.cv-container{
display: grid;
max-width: 1160px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: "left-column right-column right-column";
}*/
h3{
    padding-left: 50px;
    color: #17ABB3;
}
p{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
h4{
    padding-left: 50px;
}
.padding{
    padding-left: 2rem;
}
.align1{
margin-left: 28rem;     /*utilisation de margin car text align ne fonctionne pas*/
color: #17ABB3;
}
.align2{
margin-left: 21rem;
color: #17ABB3;
}
.align3{
margin-left: 36.7rem;
color: #17ABB3;
}
.align4{
margin-left: 24rem; 
color: #17ABB3;    
}
.align5{
margin-left: 28rem;
color: #17ABB3;
}
.align6{
margin-left: 30.5rem;
color: #17ABB3;
}
.align7{
margin-left: 24rem;
color: #17ABB3;
}
.align8{
margin-left: 20rem;
color: #17ABB3;
}
.size{
    font-size: smaller;
    font-style: italic;
    margin-top: -22px;
}
.cv-container{
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 115px;
}
.item-1{
    flex-basis: 100%;
    background-color: #17ABB3;
    height: 240px;
}
.none{
    list-style-type: none;
    padding-left: 50px;
}
.square{
    list-style-type: square;
    padding-left: 65px;
}
.item-2{
    background-color:#e3e3e3 ;
    width: 350px;
}
.item-3{
    background-color: #ffffff;
    width: 810px;
}
.item-4{
    flex-basis: 100%;
    background-color: #17ABB3;
    height: 80px;   
}
/*
.justify{
    white-space:  ;
}



